mixin commitList(repo, branch, commits)
  .commits
    ul.commits__list
      -
      each commit in commits
        li.commits__item.commit
          .commit__hash
            a.commit__link(href= `/files/${repo}/${branchHash}/${commit.hash}`)= commit.hash
          .commit__time= commit.time.format()
          .commit__subject= commit.subject
            
html
  include ./blocks/head.pug
  +head({title})
  body
    include ./blocks/heading.pug
    //- include ./blocks/commitList.pug
    +heading()
    ul.breadcrumb
      li.breadcrumb__item
        a.breadcrumb__link(href='/') Home
      li.breadcrumb__item
        a.breadcrumb__link(href=`/branches/${repo}`)= `Repo: ${repo}`
      li.breadcrumb__item
        a.breadcrumb__link= `Branch: ${branchName} (${branchHash})`
    h2 Commit history
    +commitList(repo, branchHash, commits)
  